<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>instagram page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>this is the instagram page of <%= data.name %></h1>
    <button>follow</button>
    <button>Message</button>
    <h3>followers<%= data.followers %></h3>
    <h3>following<%=data.following%></h3>
  
</body>
</html>
